version: '3.8'

services:
  app:
    build: .
    volumes:
      - ./:/app
    ports:
      - '8000:8000'
    environment:
      - ENV=development

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: app_db
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: